body {
    width : 500px;
    margin : 100px auto;
}

.task {
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
}